<div
    style="position: relative; display: flex; flex-direction: column; width: 100%; height: 100%; margin: 0; padding: 0; background-color: whitesmoke;">
    <div style="position: relative; flex: 1 0 auto;">
        <canvas style="position: absolute; top: 0; left: 0; margin: 0; padding: 0;"></canvas>
        <canvas style="position: absolute; top: 0; left: 0; margin: 0; padding: 0;"></canvas>
        <canvas style="position: absolute; top: 0; left: 0; margin: 0; padding: 0;"></canvas>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%; padding: 6px 0;">
        <div style="display: flex; flex-direction: column; width: 40%; height: inherit;"
            ng-repeat="(key, obj) in currentData">
            <h3 style="text-align: center; width: 100%; font-family: monospace; padding: 0; margin: 0;">{{ obj.name }}
            </h3>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <graph-legend-tip type="line" color="black" dash-array="{{ obj.dashArray }}"></graph-legend-tip>
                <span style="font-family: monospace;">{{::"ui.apps.torquecurve.Torque" | translate}}</span>
                <span style="font-family: monospace; width: 100%; text-align: center;">{{ obj.torque.val.toFixed(2)
                    }}/{{ obj.torque.max.toFixed(0)
                    }}</span>
                <span style="font-family: monospace;">[{{ obj.torque.units }}]</span>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <graph-legend-tip type="line" color="red" dash-array="{{ obj.dashArray }}"></graph-legend-tip>
                <span style="font-family: monospace;">{{::"ui.apps.torquecurve.Power" | translate}}</span>
                <span style="font-family: monospace; width: 100%; text-align: center;">{{ obj.power.val.toFixed(2) }}/{{
                    obj.power.max.toFixed(0)
                    }}</span>
                <span style="font-family: monospace;">[{{ obj.power.units }}]</span>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
            <button style="border: none; background: transparent;" ng-click="resetCurrentData()">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                    <path
                        d="M566.6 9.4c12.5 12.5 12.5 32.8 0 45.3l-192 192 34.7 34.7c4.2 4.2 6.6 10 6.6 16c0 12.5-10.1 22.6-22.6 22.6H364.3L256 211.7V182.6c0-12.5 10.1-22.6 22.6-22.6c6 0 11.8 2.4 16 6.6l34.7 34.7 192-192c12.5-12.5 32.8-12.5 45.3 0zm-344 225.5L341.1 353.4c3.7 42.7-11.7 85.2-42.3 115.8C271.4 496.6 234.2 512 195.5 512L22.1 512C9.9 512 0 502.1 0 489.9c0-6.3 2.7-12.3 7.3-16.5L133.7 359.7c4.2-3.7-.4-10.4-5.4-7.9L77.2 377.4c-6.1 3-13.2-1.4-13.2-8.2c0-31.5 12.5-61.7 34.8-84l8-8c30.6-30.6 73.1-45.9 115.8-42.3zM464 352a80 80 0 1 1 0 160 80 80 0 1 1 0-160z" />
                </svg>
            </button>
        </div>
    </div>
</div>
